@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500');

@font-face {
    font-family: 'avant_gardedemiregular';
    src: url('../fonts/avantgardedemi-webfont.woff2') format('woff2'),
         url('../fonts/avantgardedemi-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'avant_garde_bk';
    src: url('../fonts/ITCAvantGardeStd-Bk.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'avant_garde_lt';
    src: url('../fonts/ITCAvantGardeStd-XLt.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'avant_garde_md';
    src: url('../fonts/ITCAvantGardeStd-Md.otf') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'brandon_grotesquelight';
    src: url('../fonts/brandon_light-webfont.woff2') format('woff2'),
         url('../fonts/brandon_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'brandon_grotesquemedium';
    src: url('../fonts/brandon_med-webfont.woff2') format('woff2'),
         url('../fonts/brandon_med-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'linotype_didotroman';
    src: url('../fonts/didotlh-roman-webfont.woff2') format('woff2'),
         url('../fonts/didotlh-roman-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}